---
import BaseLayout from "../layouts/BaseLayout.astro";
import Avatar from "../images/avatar.jpeg";
import { getProjects, getWorkExperiences } from "../utils/api";
import Card from "../components/Card.astro";

const maxCount = 2;
const latestProjects = await getProjects(maxCount);
const latestWorkExperiences = await getWorkExperiences(maxCount);
---

<BaseLayout>
  <div class="mb-4">
    <div class="flex flex-col-reverse md:flex-row">
      <div class="flex flex-col justify-center items-center md:items-start">
        <div>
          <h4 class="heading-1 text-md mb-2 typewriter">Hi, my name is</h4>
        </div>
        <h1 class={`text-4xl md:text-5xl heading-2`}>Thomas</h1>
        <h1 class={`text-4xl md:text-5xl heading-1`}>Teichmeister</h1>
        <h2
          class={`text-lg text-secondary tracking-wider ml-2 text-center md:text-start`}
        >
          I'm a <span class="underline-text">Software Developer</span> from Salzburg
          🇦🇹
        </h2>
      </div>
      <div
        class="flex flex-row-reverse md:flex-row mb-4 mx-auto md:my-auto md:text-start"
      >
        <img
          src={Avatar}
          alt="Thomas Teichmeister"
          class="rounded-full"
          width="120"
          height="120"
        />
      </div>
    </div>
  </div>
  <p class="mb-8">
    I am an enthusiastic software developer since 11+ years. I mainly work with
    the technologies C++ and C# in my work but I'm enthusiastic about different
    areas and especially the web area.
  </p>
  <section id="latest-projects" class="my-12">
    <h2 class="heading-1 text-3xl mb-4 mx-2 section-heading">
      Latest projects
    </h2>
    <ul class="w-full">
      {
        latestProjects.map((project) => (
          <li>
            <Card
              title={project.data.title}
              link={`/projects/${project.slug}`}
              shortDescription={project.data.description}
              subtitle={`${project.data.fromDate} - ${project.data.toDate}${
                project.data.location ? " | " + project.data.location : ""
              }`}
            />
          </li>
        ))
      }
    </ul>
    <div class="mt-6 mx-6 flex items-center mb-8">
      <a href="/projects" class="justify-center">
        <span class="text-xl hover:text-teal-700 hover:dark:text-teal-400"
          >All projects</span
        >
        <span class="text-teal-700 dark:text-teal-500">&rarr;</span>
      </a>
    </div>
  </section>
  <section id="latest-work-experiences">
    <h2 class="heading-1 text-3xl mb-4 mx-2 section-heading">
      Latest work experiences
    </h2>
    <ul class="w-full">
      {
        latestWorkExperiences.map((work) => (
          <li>
            <Card
              title={`${work.data.title}, ${work.data.company}`}
              link={`/work/${work.slug}`}
              shortDescription={work.data.shortDescription}
              subtitle={`${work.data.fromDate} - ${
                work.data.toDate ? work.data.toDate : "now"
              }${work.data.location ? " | " + work.data.location : ""}`}
            />
          </li>
        ))
      }
    </ul>
    <div class="mt-6 mx-6 flex items-center">
      <a href="/work" class="justify-center">
        <span class="text-xl hover:text-teal-700 hover:dark:text-teal-400"
          >All experiences</span
        >
        <span class="text-teal-700 dark:text-teal-500">&rarr;</span>
      </a>
    </div>
  </section>
</BaseLayout>

<style>
  .typewriter {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    @apply border-r-2 border-solid border-teal-800 dark:border-slate-400;
    box-sizing: border-box;
  }

  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      @apply border-teal-800 dark:border-slate-400;
    }
  }
</style>
