---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.id - a.data.id
);
---

<BaseLayout>
  <h1
    class="mb-12 mx-auto text-5xl font-extrabold max-w-md text-secondary text-center"
  >
    Projects
  </h1>
  <ul class="w-full">
    {
      projects.map((project) => (
        <li class="mx-auto">
          <Card
            title={project.data.title}
            link={`/projects/${project.slug}`}
            shortDescription={project.data.description}
            subtitle={`${project.data.fromDate} - ${project.data.toDate}${
              project.data.location ? " | " + project.data.location : ""
            }`}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
