---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
const workExperiences = (await getCollection("work")).sort(
  (a, b) => b.data.id - a.data.id
);
---

<BaseLayout>
  <h1
    class="text-center uppercase mb-4 text-4xl text-slate-800 dark:text-slate-300 underline decoration-amber-600 dark:decoration-amber-500 decoration-2 underline-offset-2"
  >
    Work Experiences:
  </h1>
  <ul class="w-full">
    {
      workExperiences.map((work) => (
        <li>
          <Card
            title={`${work.data.title}, ${work.data.company}`}
            link={`/work/${work.slug}`}
            shortDescription={work.data.shortDescription}
            subtitle={`${work.data.fromDate} - ${
              work.data.toDate ? work.data.toDate : "now"
            }${work.data.location ? " | " + work.data.location : ""}`}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
