---
import { CollectionEntry, getCollection } from "astro:content";
import DateRange from "../../components/DateRange.astro";
import ProjectLink from "../../components/ProjectLink.astro";
import Location from "../../components/Location.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import BackToLink from "../../components/BackToLink.astro";
import TagsList from "../../components/TagsList.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const project = entry.data;
---

<BaseLayout
  title={project.title}
  description={project.shortDescription || project.description}
>
  <div>
    <div class="mt-6 mb-8">
      <BackToLink path="/projects" text="All projects" />
    </div>
    <h1 class={`text-5xl text-secondary mb-6 leading-tight`}>
      {project.title}
    </h1>
    {
      project.location ? (
        <>
          <div class="grid md:grid-cols-2 grid-cols-1 gap-0 md:gap-4">
            <DateRange from={project.fromDate} to={project.toDate} />
            <Location location={project.location} />
          </div>
          <div>
            <ProjectLink link={project.link.url} name={project.link.title} />
          </div>
        </>
      ) : (
        <div class="grid md:grid-cols-2 grid-cols-1 gap-0 md:gap-4">
          <DateRange from={project.fromDate} to={project.toDate} />
          <ProjectLink link={project.link.url} name={project.link.title} />
        </div>
      )
    }
    <article class="content">
      <div>
        <Content />
      </div>
      <TagsList tags={project.tags} />
    </article>
    <div class="mt-8 flex justify-center">
      <p class="italic">
        Last updated: {project.lastModified.toDateString()}
      </p>
    </div>
  </div>
</BaseLayout>
