---
import { type CollectionEntry, getCollection } from "astro:content";
import DateRange from "../../components/DateRange.astro";
import Location from "../../components/Location.astro";
import BackToLink from "../../components/BackToLink.astro";
import ProjectUrl from "../../components/ProjectUrl.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagsList from "../../components/TagsList.astro";

export async function getStaticPaths() {
  const workExperiences = await getCollection("work");
  return workExperiences.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"work">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const work = entry.data;
---

<BaseLayout title={work.title} description={work.description}>
  <div class="mt-6 mb-8">
    <BackToLink path="/work" text="All experiences" />
    <h1 class={`text-5xl text-secondary my-6 leading-tight`}>
      {work.title}
    </h1>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-0 md:gap-4">
      <DateRange from={work.start} to={work.end ?? "Now"} />
      {work.location && <Location location={work.location} />}
    </div>
    <div>
      <ProjectUrl link={work.link.url} name={work.link.title} />
    </div>
    <article class="content">
      <div class="">
        <Content />
      </div>
      <TagsList tags={work.tags} />
    </article>
    <div class="mt-8 flex justify-center">
      <p class="italic">
        Last updated: {work.lastModified.toDateString()}
      </p>
    </div>
  </div>
</BaseLayout>
