---
import { CollectionEntry, getCollection } from "astro:content";
import DateRange from "../../components/DateRange.astro";
import Location from "../../components/Location.astro";
import BackToLink from "../../components/BackToLink.astro";
import ProjectLink from "../../components/ProjectLink.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import TagsList from "../../components/TagsList.astro";

export async function getStaticPaths() {
  const workExperiences = await getCollection("work");
  return workExperiences.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"work">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const work = entry.data;
---

<BaseLayout
  title={work.title}
  description={work.shortDescription || work.description}
>
  <div>
    <BackToLink path="/work" text="All experiences" />
    <h1 class={`text-3xl text-secondary mb-6`}>
      {work.title}
    </h1>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-0 md:gap-4">
      <DateRange from={work.fromDate} to={work.toDate} />
      {work.location && <Location location={work.location} />}
    </div>
    <div>
      <ProjectLink link={work.link.url} name={work.link.title} />
    </div>
    <article class="content">
      <div class="">
        <Content />
      </div>
      <TagsList tags={work.tags} />
    </article>
  </div>
</BaseLayout>
